
<h1>Sessions</h1>

<% if @session == nil %>
  <h2> This booking hasn't created a session </h2>

<% else %>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Members</th>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @session.start %></td>
        <td><%= @session.end %></td>
        <td><%= @session.members %></td>
        <td><%= @session.references %></td>
        <td><%= link_to 'End Session', end_booking_session_path(@booking, @session) %></td>
        <td><%= link_to 'Cancel Session', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<br>


<% end %>