
<h1>Welcome, <%= current_user.firstname %></h1>

<% if @profile == nil %>
 <h2>You have not created a profile</h2>
 <p><%= link_to "Create New Profile", user_profile_new_path(@user) %></p>
<% else %>

<table>
  <thead>
    <tr>
      <th>Education level</th>
      <th>Description</th>
      <th>Subjects of interest</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @profile.education_level %></td>
        <td><%= @profile.description %></td>
        <td><%= @profile.subjects_of_interest %></td>
        <td><%= @profile.user %></td>
        <td><%= link_to 'Show', user_profile_url %></td>
        <td><%= link_to 'Edit', user_profile_edit_path(@user, @profile) %></td>
        <td><%= link_to 'Destroy', user_profile_delete_path(@user, @profile), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

