
<div class="profile-header wrap-center">
  <h1>Welcome, <%= current_user.firstname %></h1>
</div>

<% if @profile == nil %>
  <div class="no-profile wrap-center">
    <h2>You have not created a profile</h2>
    <p class="text-center"><%= link_to "Create New Profile", user_profile_new_path(@user) %></p>
  </div>
 


<% else %>

<div class="container student-profile text-center">
  <div class="profile-field">
    <h1>Education Level: </h1>
    <p><%= @profile.education_level %></p>
  </div>
  <div class="profile-field">
    <h1>Description: </h1>
    <p><%= @profile.description %></p>
  </div>
  <div class="profile-field">
    <h1>Subjects Interested In: </h1>
    <% @profile.subjects_of_interest.each do |s| %>
      <p><%= s["subject"] %></p>
    <% end %>
  </div>
  <p><%= link_to 'Edit', user_profile_edit_path(@user, @profile), :class => 'btn btn-primary' %> | 
  <span><%= link_to 'Delete Profile', user_profile_delete_path(@user, @profile), :class => 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %></span></p>
</div>

<% end %>
