<% if @profile == nil %>
  <h2>This user is a <%= @user.role %> and has not created a profile</h2>
<% else %>

<p>
  <strong>Education level:</strong>
  <%= @profile.education_level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Subjects of interest:</strong>
  <%= @profile.subjects_of_interest %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<% end %>

<%= link_to "Home", root_path %>
