<p id="notice"><%= notice %></p>

<p>
  <strong>Education level:</strong>
  <%= @student.education_level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @student.description %>
</p>

<p>
  <strong>Subjects of interest:</strong>
  <%= @student.subjects_of_interest %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
