<%= form_with(model: [@user, @profile], local: true) do |form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :headline %>
    <%= form.text_field :headline, id: :tutor_headline %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :tutor_description %>
  </div>

  <div class="field">
    <%= form.label :years_teaching %>
    <%= form.number_field :years_teaching, id: :tutor_years_teaching %>
  </div>

  <div class="field">
    <%= form.label :teaching_style %>
    <%= form.text_field :teaching_style, id: :tutor_teaching_style %>
  </div>

  <%= form.fields_for :work_experience do |g| %>
  <div class="work-experience-field">
    <h4>Work Experience</h4>
    <div class="work-experience-input">
      <%= g.label :company, "Company" %>
      <%= g.text_field :company %>
    </div>

    <div class="work-experience-input">
      <%= g.label :location, "Location" %>
      <%= g.text_field :location %>
    </div>

    <div class="work-experience-input">
      <%= g.label :title, "Job Title" %>
      <%= g.text_field :title %>
    </div>

    <div class="work-experience-input">
      <%= g.label :from, "From" %>
      <%= g.date_select :from, { order: [:day, :month, :year] } %>
    </div> 

    <div class="work-experience-input">
      <%= g.label :to, "To" %>
      <%= g.date_select :to, { order: [:day, :month, :year] } %>
    </div>

  </div>

  <% end %>

  <div class="field">
    <%= form.label :education %>
    <%= form.text_field :education, id: :tutor_education %>
  </div>

  <div class="field">
    <%= form.label :subjects %>
    <%= form.text_field :subjects, id: :tutor_subjects %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :tutor_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
