<%= form_with(model: [@user, @profile], local: true) do |form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :headline %>
    <%= form.text_field :headline, id: :tutor_headline, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :tutor_description, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :years_teaching %>
    <%= form.number_field :years_teaching, id: :tutor_years_teaching, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :teaching_style %>
    <%= form.text_field :teaching_style, id: :tutor_teaching_style, :class => 'form-control' %>
  </div>

  <div class="work-experience">

    <h4>Relevant Work Experience</h4>

    <div class="work-experience-field dynamic-field">
      
      <div class="field work-experience-input">
        <%= form.label :company, "Company" %>
        <%= form.text_field "work_experience[][company]", :class => 'form-control' %>
      </div>

      <div class="field work-experience-input">
        <%= form.label :location, "Location" %>
        <%= form.text_field "work_experience[][location]", :class => 'form-control' %>
      </div>

      <div class="field work-experience-input">
        <%= form.label :title, "Job Title" %>
        <%= form.text_field "work_experience[][title]", :class => 'form-control' %>
      </div>

      <div class="field work-experience-input">
        <%= form.label :from, "From" %>
        <div class="date-select">
          <%= form.date_select "work_experience[]from]", { order: [:day, :month, :year] }, { :class => 'form-control' } %>
        </div>
      </div>

      <div class="field work-experience-input">
        <%= form.label :to, "To" %>
        <div class="date-select">
          <%= form.date_select "work_experience[][to]", { order: [:day, :month, :year] }, { :class => 'form-control' } %>
        </div>
      </div>
    </div>

  </div>

    <div class="education">

      <h4>Relevant Education</h4>

      <div class="education-field dynamic-field">
        
        <div class="field education-input">
          <%= form.label :school, "School" %>
          <%= form.text_field "education[][school]", :class => 'form-control' %>
        </div>

        <div class="education-input">
          <%= form.label :degree, "Degree" %>
          <%= form.text_field "education[][degree]", :class => 'form-control' %>
        </div>

        <div class="field education-input">
          <%= form.label :graduated, "Graduated" %>
          <div class="date-select">
            <%= form.date_select "education[]graduated]", { order: [:day, :month, :year] }, { :class => 'form-control' } %>
          </div>
        </div>

      </div>




    </div>
 
    


  <div class="field">
    <%= form.label :subjects %>
      <% (1..3).to_a.each do  %>
        <div class="subject-group">
          <%= form.label "Subject" %>
          <%= form.select( "subjects[][subject]", @subjects.map{|subject| subject.subject_name}, {}, {:class => "form-control"}) %>
        </div>
    <% end %>
  </div>


  <div class="actions">
    <%= form.submit "Create Profile", :class => 'btn btn-primary' %>
  </div>
<% end %>
