

<div class="profile-header wrap-center">
  <h1>Welcome, <%= current_user.firstname %></h1>
</div>
<% if @profile == nil %>
  <div class="no-profile wrap-center">
    <h2>You have not created a profile</h2>
    <p class="text-center"><%= link_to "Create New Profile", user_profile_new_path(@user) %></p>
  </div>
 


<% else %>

  <div class="profile-body">
    <div class="profile-entry">
      <div class="profile-header">
        <h4>Headline</h4>
      </div>
      <div class="profile-paragraph">
        <p><%= @profile.headline %></p>
      </div>
    </div>

    <div class="profile-entry">
      <div class="profile-header">
        <h4>Description</h4>
      </div>
      <div class="profile-paragraph">
        <p><%= @profile.description %></p>
      </div>
    </div>

    <div class="profile-entry">
      <div class="profile-header">
        <h4>Years Teaching</h4>
      </div>
      <div class="profile-paragraph">
        <p><%= @profile.years_teaching %></p>
      </div>
    </div>

    <div class="profile-entry">
      <div class="profile-header">
        <h4>Teaching Style</h4>
      </div>
      <div class="profile-paragraph">
        <p><%= @profile.teaching_style %></p>
      </div>
    </div>

    <div class="profile-entry">
      <div class="profile-header">
        <h4>Work Experience</h4>
      </div>
      <% @profile.work_experience.each do |w| %>
        <h6>Company:</h6>
        <p><%= w["company"] %>

        <h6>Location:</h6>
        <p><%= w["location"] %>

        <h6>Title:</h6>
        <p><%= w["title"] %>

        <h6>From:</h6>
        <p><%= w["from"] %>

        <h6>To:</h6>
        <p><%= w["to"] %>

      <% end %>
    </div>

    <div class="profile-entry">
      <div class="profile-header">
        <h4>Education</h4>
      </div>
      <% @profile.education.each do |e| %>
        <h6>School:</h6>
        <p><%= e["school"] %>

        <h6>Degree:</h6>
        <p><%= e["degree"] %>

        <h6>Graduated:</h6>
        <p><%= e["graduated"] %>


      <% end %>
    </div>

    <div class="profile-entry">
      <div class="profile-header">
        <h4>Subjects Tutored</h4>
      </div>
      <div class="profile-paragraph">
        <p><%= @profile.subjects %></p>
      </div>
    </div>

    <%= link_to 'Delete', user_profile_delete_path(@user, @profile), method: :delete, data: { confirm: 'Are you sure?' } %> 
       
  </div>

  

<% end %>



