

<div class="profile-header wrap-center">
  <h1>Welcome, <%= current_user.firstname %></h1>
</div>
<% if @profile == nil %>
  <div class="no-profile wrap-center">
    <h2>You have not created a profile</h2>
    <p class="text-center"><%= link_to "Create New Profile", user_profile_new_path(@user) %></p>
  </div>
 


<% else %>


<table>
  <thead>
    <tr>
      <th>Headline</th>
      <th>Description</th>
      <th>Years teaching</th>
      <th>Teaching style</th>
      <th>Work experience</th>
      <th>Education</th>
      <th>Subjects</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @profile.headline %></td>
        <td><%= @profile.description %></td>
        <td><%= @profile.years_teaching %></td>
        <td><%= @profile.teaching_style %></td>
        <td><h6>Work Experience</h6>
        <% @profile.work_experience.each do |w| %>
          <h6>Company:</h6>
          <p><%= w["company"] %>

          <h6>Location:</h6>
          <p><%= w["location"] %>

          <h6>Title:</h6>
          <p><%= w["title"] %>

          <h6>From:</h6>
          <p><%= w["from"] %>

          <h6>To:</h6>
          <p><%= w["to"] %>

        <% end %>
        <td><%= @profile.education %></td>
        <td><%= @profile.subjects %></td>
        <td><%= @profile.user %></td>
        <td><%= link_to 'Show', user_profile_url %></td>
        <%= link_to 'Delete', user_profile_delete_path(@user, @profile), method: :delete, data: { confirm: 'Are you sure?' } %> 
      </tr>
  </tbody>
</table>

<% end %>

<br>

