

<p>
  <strong>Headline:</strong>
  <%= @profile.headline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Years teaching:</strong>
  <%= @profile.years_teaching %>
</p>

<p>
  <strong>Teaching style:</strong>
  <%= @profile.teaching_style %>
</p>

<p>
  <strong>Work experience:</strong>
  <%= @profile.work_experience %>
</p>

<p>
  <strong>Education:</strong>
  <%= @profile.education %>
</p>

<p>
  <strong>Subjects:</strong>
  <%= @profile.subjects %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Delete', user_profile_delete_path(@user, @profile), method: :delete, data: { confirm: 'Are you sure?' } %> 
<%= link_to "Home", root_path %>
