
<% if @profile == nil %>
  <h2>This user is a <%= @user.role %> and has not created a profile</h2>
<% else %>
<p>
  <strong>Headline:</strong>
  <%= @profile.headline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Years teaching:</strong>
  <%= @profile.years_teaching %>
</p>

<p>
  <strong>Teaching style:</strong>
  <%= @profile.teaching_style %>
</p>

<p>
  <strong>Work experience:</strong>
  <%= @profile.work_experience %>
</p>

<p>
  <strong>Education:</strong>
  <%= @profile.education %>
</p>

<p>
  <strong>Subjects:</strong>
  <%= @profile.subjects %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<% end %>

<%= link_to "Home", root_path %>
