<%= form_for :booking, url: "bookings/book" do |form| %>


  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :booking_date %>
  </div>

  <div class="field">
    <%= form.label :hours_booked %>
    <%= form.select( :hours_booked, (1..4).to_a.map{|c| c })%>
  </div>

  

  <div class="field">
    <%= form.label :location %>
        <div class="booking-location-group">
          <%= form.label "Street Address" %>
          <%= form.text_field( "booking_location[][street_address]", :class => "form-control") %>
        </div>
        <div class="booking-location-group">
            <%= form.label "City" %>
            <%= form.text_field( "booking_location[][city]", :class => 'form-control') %>
        </div>
        <div class="booking-location-group">
            <%= form.label "Postal Code" %>
            <%= form.text_field( "booking_location[][postal_code]", :class => 'form-control') %>
        </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
