
<h1 class="p-20 text-center">Your Bookings</h1>


<% if @bookings.length == 0 %>
  <div class="booking-notice text-center">
    <h2>You have not created a Booking</h2>
    <p><%= link_to "Book A Tutor", all_tutors_path   %></p>
  </div>
<% else %>

<section class="container p-20 user-bookings text-center">
  <% @bookings.each do |booking| %>
    <div class="user-booking-grid p-20">
      <div class="user-booking-field">
        <p>Date:
        <span><%= Time.at(booking.date).httpdate %></span></p>
      </div>
      <div class="user-booking-field">
        <p>Tutor Booked:
        <span><%= @users.select{|u| booking.user_booked == u.id}[0].firstname %></span></p>
      </div>

      <td><%= link_to 'Show', user_booking_path(@user, booking) %></td> | 
  <td><%= link_to 'Destroy', user_booking_path(@user, booking), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
    </div>

    
  <% end %>

  

</section>


<% end %>