
<h1 class="p-20 text-center">Your Bookings</h1>


<% if @bookings == nil %>
 <h2>You have not created a Booking</h2>
 <p><%= link_to "Create New Booking", new_user_booking_path(@user) %></p>

<% else %>

<section class="container p-20 user-bookings text-center">
  <% @bookings.each do |booking| %>
    <div class="user-booking-grid p-20">
      <div class="user-booking-field">
        <p>Date:
        <span><%= Time.at(booking.date).httpdate %></span></p>
      </div>
      <div class="user-booking-field">
        <p>Location:
        <span><%= @geocoder.search("#{booking[:location]["latitude"]}, #{booking[:location]["longitude"]}")[0].data["address"]["address29"]%></span></p>
      </div>
      <div class="user-booking-field">
        <p>Tutor Booked:
        <span><%= @users.select{|u| booking.user_booked == u.id}[0].firstname %></span></p>
      </div>

      <td><%= link_to 'Show', user_booking_path(@user, booking) %></td> | 
  <td><%= link_to 'Destroy', user_booking_path(@user, booking), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
    </div>

    
  <% end %>

  

</section>



<%= link_to 'New Booking', new_user_booking_path(@user) %>

<% end %>