
<section id="booking-details" class="text-center">

  <div class="booking-details-header">
    <h3>Booking Details</h3>
  </div>
  <p>
    <strong>Date:</strong>
    <%= Time.at(@booking.date).httpdate %>
  </p>

  <p>
    <strong>User Booked:</strong>
    <%= @users.select{|u| @booking.user_booked == u.id}[0].firstname %>
  </p>


  <%= link_to 'Edit', edit_user_booking_path(@user, @booking) %> |
  <%= link_to 'Create Lesson', user_booking_lesson_create_path(@user, @booking, @lesson), method: :post %> |
  <%= link_to 'Back', user_bookings_path(@user) %>

</section>