
<div class="hero">
  <div class="hero-inner container">
    <div class="hero-inner-text">
      <div class="hero-inner-heading">
        <h1>Get better results</h1>
        <h4>Find a tutor to help you with the subjects you find difficult</h4>
        <a href="" class="btn btn-tutor">Get Started</a>
      </div>

    </div>
    <div class="hero-inner-img">
      <%= image_tag("tutor.png", class: "img-responsive") %>
    </div>
  </div>
</div>

<% if current_user %>
<section id="recommend_signed_in">
  <div class="container recommend_wrap">
    <div class="recommend_header text-center">
      <h2>Recommended Tutors</h2>
      <p>Hello <%= current_user.firstname %>, Here are some tutors recommended for you</p>
    </div>
    <div class="recommend_body">
    <% @match.each do |m| %>
      <div class="recommend_card">
        <div class="recommend_card_img">
          <img src="https://res.cloudinary.com/house16-design-studio/image/upload/v1573566670/bookatutor/default-profile.png" alt="Book A Tutor">
        </div>
        <div class="recommend_card_name">
          <h4><%= m.user.firstname %>, <%= m.user.lastname %></h4>
        </div>
        <div class="recommend_card_headline">
          <p><%= m.headline %></p>
        </div>
        <div class="recommend_card_view_profile_button">
          <%= link_to  "View Profile", user_profile_path(m.user) %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</section>
<% end %>




