
<p>
  <strong>Start:</strong>
  <%= @lesson.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @lesson.end %>
</p>

<p>
  <strong>Members:</strong>
  <%= @lesson.members %>
</p>

<p>
  <strong>References:</strong>
  <%= @lesson.references %>
</p>

<%= link_to 'Edit', edit_user_booking_lesson_path(@user, @booking, @lesson) %> |
<%= link_to 'Back', user_booking_lesson(@user, @booking, @lesson) %>
