

<table>
  <tr>
<th>Payment details</th>
</tr>
<% for payment in @payments %>

<tr>
<td><%= payment.amount %></td>
<td><%= link_to 'Show', user_payment_path(@user, payment)
%></td>
<td><%= link_to 'Edit', edit_user_payment_path(@user, payment)
%></td>
<td><%= link_to 'Destroy', user_payment_path(@user, payment),
:confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>

<br>

<%= link_to 'New Payment', new_user_payment_path(@user) %>
<%= link_to 'Back to User', @user %>


