<%= form_for([@user, @review]) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reviewee %>
    <%= form.text_field :reviewee, id: :review_reviewee %>
  </div>

  <div class="field">
    <%= form.label :review_content %>
    <%= form.text_field :review_content, id: :review_review_content %>
  </div>

  <div class="field">
    <%= form.label :review_stars %>
    <%= form.number_field :review_stars, id: :review_review_stars %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :review_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
