
<h1 class="p-20 text-center">Your Reviews</h1>


<% if @reviews.length == 0 %>
  <div class="review-notice text-center">
    <h2>You have not created a Booking</h2>
    <p><%= link_to "Book A Tutor", all_tutors_path   %></p>
  </div>
<% else %>

<section class="container p-20 user-reviews text-center">
  <% @reviews.each do |review| %>
    <div class="user-review-grid p-20">
      <div class="user-review-field">
        <p>Reviewee ID:
        <span><%= review.reviewee %></span></p>
      </div>
      <div class="user-review-field">
        <p>Review Content:
        <span><%= review.review_content %></span></p>
      </div>
      <div class="user-review-field">
        <p>Review Stars:
        <span><%= review.review_stars %></span></p>
      </div>

      <td><%= link_to 'Destroy', user_review_path(@user, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </div>

    
  <% end %>

  

</section>

<% end %>


